$primary-gray: #F2F2F2;

.text-center {
  text-align: center;
}

.margin-0 {
  margin: 0;
}

.main-container {
  background: $primary-gray;
  padding: 10px;

  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: center;
  }

  .card-wrapper {

    @media screen and (min-width: 700px) {
      display: flex;
      flex-direction: row;
    }

    @mixin card-style {
      background: white;
      padding: 15px;
      border-radius: 5px;
      margin-top: 15px;
      display: flex;
      justify-content: center;
      min-width: 200px;
      height: 525px;
    }

    .filter-outer-wrapper {
      //display: flex;
      //align-items: flex-start;

      @include card-style;

      .filter-inner-wrapper {
        padding: 3px;

        .column {
          width: 50%;
          display: flex;
          flex-direction: column;

          .left-col {
            display: flex;
            justify-content: flex-end;
          }
        }

        .row {
          display: flex;
          flex-direction: row;
        }
      }
    }

    .cards-container {
      @media screen and (min-width: 700px) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
      }

      .card-outer-wrapper {

        @media screen and (min-width: 700px) {
          height: 425px;
          width: 256px;
        }

        @include card-style;

        @media screen and (min-width: 700px) {
          margin-left: 20px;
        }

        .filter-inner-wrapper {
          padding: 3px;

          .image-container {
            background: $primary-gray;
            display: flex;
            align-items: center;

            img {
              width: 100%;
              height: auto;
              display: block;
            }
          }

          .info-container {
            line-height: 22px;

            .link {
              margin: 5px 0 5px 0;
              color: #4D5273
            }

            ul {
              margin: 3px;
            }
          }

        }
      }
    }

  }


}

.active-year-button {
  background: #7CBA01 !important;
}

.year-button {
  margin: 5px;
  background: #C5E09B;
  border-radius: 5px;
  border: 0;
  padding: 5px 10px;

  &:first-of-type {
    float: left;
  }

  &:last-of-type {
    margin-left: 10px;
  }

}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  width: 50%;
  display: flex;
  flex-direction: column;

  .left-col {
    display: flex;
    justify-content: flex-end;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.heading{
  background: #F2F2F2;

  @media screen and (min-width: 1440px) {
    text-align: center;

  }

}
